In [2]:
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.pyplot as plt
df=pd.read_csv("avocado.csv")

In [92]:
#Elasticidad Precio-Demanda por Año

"""
Aquí añado las columnas de region y tipo de aguacate (normal y organico) para hacer varios analisis por region
"""

df_elast=df.loc[:,["Total Volume","AveragePrice","year","Date","region","type"]]
df_elast["Date"]=pd.to_datetime(df_elast["Date"])



df_orden=df_elast.sort_values(by=['Date', "region"])

#aguacate convencional

conventional=df_orden.loc[df_orden['type'] == "conventional"].reset_index()

val_max_con=conventional.groupby(by=["year","region"]).agg({"Date":"max"}).reset_index()
val_min_con=conventional.groupby(by=["year","region"]).agg({"Date":"min"}).reset_index()

val_max_con=val_max_con.join([conventional["Total Volume"], conventional["AveragePrice"]])

"""
val_max_con.rename({"Date": "Date_max", "AveragePrice": "Avg_max", "Total Volume":"Total Volume_max"}, axis=1, inplace=True)
val_min_con.rename({"Date": "Date_min", "AveragePrice": "Avg_min", "Total Volume":"Total Volume_min"}, axis=1, inplace=True)


min_max=pd.concat([val_max_con,val_min_con["Date_min"], val_min_con["Avg_min"], val_min_con["Total Volume_min"]], axis=1)
"""

#min_max["Total Volume_max"]==min_max["Total Volume_min"]

val_max_con

       year               region       Date  Total Volume  AveragePrice
0    2015.0               Albany 2015-12-27      40873.28          1.22
1    2015.0              Atlanta 2015-12-27     435021.49          1.00
2    2015.0  BaltimoreWashington 2015-12-27     788025.06          1.08
3    2015.0                Boise 2015-12-27      80034.32          1.01
4    2015.0               Boston 2015-12-27     491738.00          1.02
..      ...                  ...        ...           ...           ...
211  2018.0             Syracuse 2018-03-25      44517.84          1.37
212  2018.0                Tampa 2018-03-25     260471.23          1.21
213  2018.0              TotalUS 2018-03-25   28470310.84          1.04
214  2018.0                 West 2018-03-25    5461313.90          0.94
215  2018.0     WestTexNewMexico 2018-03-25     720800.61          0.80

[216 rows x 5 columns]

In [7]:
#aguacate organico

organic=df_orden.loc[df_orden['type'] == "organic"].reset_index()

val_max_org=organic.groupby(by=["year","region"]).agg({"Date":"max", "AveragePrice":"mean"})
val_min_org=organic.groupby(by=["year","region"]).agg({"Date":"min", "AveragePrice":"mean"})
val_max_org

                               Date  AveragePrice
year region
2015 Albany              2015-12-27      1.905577
     Atlanta             2015-12-27      1.708846
     BaltimoreWashington 2015-12-27      1.569615
     Boise               2015-12-27      1.693462
     Boston              2015-12-27      1.803077
...                             ...           ...
2018 Syracuse            2018-03-25      1.242500
     Tampa               2018-03-25      1.452500
     TotalUS             2018-03-25      1.554167
     West                2018-03-25      1.613333
     WestTexNewMexico    2018-03-25      1.645000

[216 rows x 2 columns]